name: dockerhub

on:
  push:
    branches: master

jobs:
  path-context:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: "Build and push 8.8.4"
        uses: docker/build-push-action@v2
        with:
          context: "./8.8.4"
          file: "./8.8.4/Dockerfile"
          platforms: linux/amd64
          push: true
          tags: |
            "tumfpv/fpv-stack:8.8.4"
            "tumfpv/fpv-stack:8.8.4-cyp"
      - name: "Build and push 2020ex05"
        uses: docker/build-push-action@v2
        with:
          context: "./2020ex05"
          file: "./2020ex05/Dockerfile"
          platforms: linux/amd64
          push: true
          tags: |
            "tumfpv/fpv-stack:2020ex05"


